

@import "tailwindcss";
@theme {
  --color-accent: #2d08bd;
  --color-accent-light: #5534f5;
  --color-main: #1e1e1e;

  --breakpoint-xs: 320px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 998px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1400px;
}

body {
  font-family: var(--font-JosefinSans), sans-serif;
  @apply pt-4;
}
